@import '../core';

:global {
  @import '~react-table/react-table';
  .ReactTable {
    margin-top: -$card-border-width;
    border: $card-border-width solid $card-border-color;
    border-right: none;
    border-left: none;
    border-bottom: none;
    .-pagination,
    .rt-thead.-header {
      box-shadow: none;
    }
    .rt-thead.-header {
      border-bottom: 1px solid $grouper;
    }
    .rt-thead {
      .rt-tr {
        text-align: left;
        font-weight: 600;
      }
      .rt-th,
      .rt-td {
        padding: 10px 5px;
        border-right: none;
        &.-sort-asc {
          box-shadow: inset 0 3px 0 0 $aspen;
        }
        &.-sort-desc {
          box-shadow: inset 0 -3px 0 0 $aspen;
        }
      }
    }
    .rt-tbody {
      .rt-td {
        border-right: none;
      }
    }
    .-pagination {
      .-previous,
      .-next {
        margin-top: 2.5px;
      }
      .-previous {
        text-align: right;
      }
      .-next {
        text-align: left;
      }
      .-center {
        .select-wrap {
          flex: 1 0;
        }
      }

      .-pageInfo {
      }
    }
    .rt-resizer {
      width: 4px;
      right: -2px;
    }
  }
}
