{
    "presets": ["@babel/preset-react"],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread",
      [
        "babel-plugin-transform-rename-import",
        {
          "original": "^(.+?)\\.scss$",
          "replacement": "$1.css"
        }
      ]
    ]
  }