@import '../core';

//
// Base styles
//

.alert {
  position: relative;
  // padding: $alert-padding-y $alert-padding-x;
  padding: 0;
  margin-bottom: $alert-margin-bottom;
  @include border-radius($alert-border-radius);

  // border: $alert-border-width solid $card-border-color;
  overflow: hidden;
  display: flex;
  background-color: $white;
}

.alert-body {
  // padding: $alert-padding-x $alert-padding-y;
  padding: 0.5rem;
  border: $alert-border-width solid $card-border-color;
  border-left: none;
  width: 100%;
  border-radius: $alert-border-radius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  // padding-right: ($close-font-size + $alert-padding-x * 2);

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.
// @each $color, $value in $theme-colors {
//   .alert-icon-container
// }

.alert-icon-container {
  width: 40px;
  // background-color: pink;

  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@each $color, $value in $theme-colors {
  .alert-#{$color} .alert-icon-container {
    background-color: $value;
    border: $alert-border-width solid $value;
    // @include alert-variant(
    //   theme-color-level($color, $alert-bg-level),
    //   theme-color-level($color, $alert-border-level),
    //   theme-color-level($color, $alert-color-level)
    // );
  }
}
