@import '../core';
@import '~bootstrap/scss/nav';

.AnchorNav {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.active {
  font-weight: bold;
}

// Offset anchor links to account for fixed header
:global {
  :target:before {
    content: '';
    display: block;
    height: 132px;
    margin: -132px 0 0;
  }
}
