@import '../core';

.wrapper {
  background-color: $spruce;
  color: $white;
  display: inline-flex;
  border-radius: 50%;
  text-transform: uppercase;
}

.inverted {
  background-color: $white;
  color: $spruce;
}

@each $size, $value in $avatar-sizes {
  .size-#{$size} {
    height: $value;
    width: $value;
    font-size: $value/2;
    overflow: hidden;
    text-overflow: clip;
  }
}

.inner {
  margin: auto;
}
