@import '../core';

$sizes: (
  xs: 20px,
  sm: 24px,
  md: 32px,
  lg: 48px,
  xl: 96px
);

.avatar {
  background-color: $spruce;
  color: $white;
  display: inline-flex;
  border-radius: 50%;
  text-transform: uppercase;
}

.inverted {
  background-color: $white;
  color: $spruce;
}

@each $size, $value in $sizes {
  .size-#{$size} {
    height: $value;
    width: $value;
    font-size: $value/2;
    overflow: hidden;
    text-overflow: clip;
  }
}

.avatarInitials {
  margin: auto;
}
