@import '../core';
@import '../Button/Button.module.scss';
@import '~bootstrap/scss/button-group';

.Toggle {
  @extend .btn-group;

  .Option {
    @extend .btn;
    @extend .btn-secondary;
    // border: none;

    border-radius: 0;
    border: $btn-border-width solid $border-color;

    // position: relative;
    // z-index: 0;

    // Override
    &:focus,
    &.focus {
      outline: 0;
      box-shadow: inset $btn-focus-box-shadow;
    }

    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 0 0 $input-btn-focus-width $input-btn-focus-color !important;
    }

    &:first-child {
      border-top-left-radius: $btn-border-radius;
      border-bottom-left-radius: $btn-border-radius;
    }

    &:last-child {
      border-top-right-radius: $btn-border-radius;
      border-bottom-right-radius: $btn-border-radius;
    }

    &:not(:first-child) {
      border-left: $btn-border-width solid $border-color;
      margin-left: -$btn-border-width;
    }

    &.ActiveOption {
      @extend .btn-primary;

      border-left-color: $primary;

      // Override
      &:focus,
      &.focus {
        outline: 0;
        box-shadow: inset $btn-focus-box-shadow !important;
      }
    }
  }
}
